<style type="text/css">

.BlogImage {
	width: 100%; 
	/*float: left;*/
}

.ms-PostTitle {font-size: 20pt;}
.ms-leftblogdate{display:none;}
.ms-PostFooter{
	padding-top:20px;
	clear:both;
	font-size:10pt;
	}
/*.ms-PostBody{display:none;}*/

.BlogShortDescription{
	display:none;
}
.MainBlogPost{
	padding-top:20px;
	font-size:12pt;
	width:100%;
	color: #777;
}

</style>